# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/project/project
.classpath
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/project/project
/eclipse/classes
eclipse/classes
eclipse/.settings/
.settings/
eclipse/classes/*
eclipse/classes/
/.project
/.gitignore
.env
*.class

