#{extends 'Shopping/shoppingmain.html' /}
#{set title:'eBay API Explorer | Item' /}



<div class="page-header">
    <h1>Shopping : GetSingleItem</h1>
</div>


<div class="row">
  <div class="col-lg-12">    
    <ul class="nav nav-tabs">
    	<li class="${getItemView.isInputActive()}"><a data-toggle="pill" href="#input">Input</a></li>
	    <li class="${getItemView.isOutputActive()}"><a data-toggle="pill" href="#output">Output</a></li>
	    <li><a data-toggle="pill" href="#request">Request Xml</a></li>
	    <li><a data-toggle="pill" href="#response">Response Xml</a></li>
    </ul>
  
  <div class="tab-content">
	  <div id="input" class="tab-pane fade in ${getItemView.isInputActive()}">
	    <h3>Input</h3>

		  	<form action="@{Shopping.GetSingleItem}" method="get">
		    <label for="itemid">Item Id</label>
		    <div class="input-group">
		      <input id="itemid" name="itemid" type="text" class="form-control" aria-label="ebay item id">
		      <div class="input-group-btn">
				<input id="finditem" type="submit" value="Find Item" class="btn btn-default">
		      </div>
		    </div>
		    </form>

	  </div>

	  <div id="output" class="tab-pane fade in ${getItemView.isOutputActive()}">
	    <h3>Output</h3>

%{
     if(getItemView.itemid != null) {
}%

	    <h3>${getItemView.itemid}</h3>
	    <h3>${getItemView.title}</h3>

%{
  } else {
}%

	    <p>Submit Request to see Output</p>

%{
     }
}%

	  </div>
	  <div id="request" class="tab-pane fade in">
	    <h3>Request Xml</h3>
	    <pre class="prettyprint">${getItemView.requestString}</pre>
	  </div>
	  <div id="response" class="tab-pane fade in">
	    <h3>Response Xml</h3>
	    <pre class="prettyprint">${getItemView.responseString}</pre>
	  </div>
  </div>
  
  </div>
</div><!-- /.row -->

