#{extends 'Shopping/shoppingmain.html' /}
#{set title:'eBay API Explorer | User' /}




<div class="page-header">
    <h1>Shopping : GetUserProfile</h1>
</div>


<div class="row">
  <div class="col-lg-12">    
    <ul class="nav nav-tabs">
    	<li class="${viewObject.isInputActive()}"><a data-toggle="pill" href="#input">Input</a></li>
	    <li class="${viewObject.isOutputActive()}"><a data-toggle="pill" href="#output">Output</a></li>
	    <li><a data-toggle="pill" href="#request">Request Xml</a></li>
	    <li><a data-toggle="pill" href="#response">Response Xml</a></li>
    </ul>
  
  <div class="tab-content">
	  <div id="input" class="tab-pane fade in ${viewObject.isInputActive()}">
	    <h3>Input</h3>
		  	<form action="@{Shopping.GetUserProfile}" method="get">
		    <label for="username">Username</label>
		    <div class="input-group">
		      <input id="username" name="username" type="text" value="${viewObject.getUserId()}" class="form-control" aria-label="ebay user id">
		      <div class="input-group-btn">
				<input id="finduser" type="submit" value="Find User" class="btn btn-default">
		      </div>
		    </div>
		    </form>
	  </div>

	  <div id="output" class="tab-pane fade in ${viewObject.isOutputActive()}">
	    <h3>Output</h3>

%{
     if(viewObject.getUserId() != null) {
}%

	    <h3>${viewObject.getUserId()}</h3>
	    <p><a href="${viewObject.getAboutMeUrl()}"> About Me </a></p>
	    <p><a href="${viewObject.getFeedbackDetailsURL()}"> Feedback Page </a></p>

%{
  } else {
}%

	    <p>Submit Request to see Output</p>

%{
     }
}%

	  </div>
	  
	  <div id="request" class="tab-pane fade in">
	    <h3>Request Xml</h3>
	    <pre class="prettyprint">${viewObject.getRequestString()}</pre>
	  </div>
	  <div id="response" class="tab-pane fade in">
	    <h3>Response Xml</h3>
	    <pre class="prettyprint">${viewObject.getResponseString()}</pre>
	  </div>
  </div>
  
  </div>
</div><!-- /.row -->

