#{extends 'bootstrapmain.html' /}
#{set title:'eBay API Explorer | Settings' /}


<div class="page-header">
    <h1>Settings</h1>
</div>


<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Shopping Sandbox Endpoint</td>
      <td>${settingsView.ieBayCallContext.SHOPPING_SANDBOX_ENDPOINT}</td>
    </tr>
    <tr>
      <td>Shopping Production Endpoint</td>
      <td>${settingsView.ieBayCallContext.SHOPPING_PRODUCTION_ENDPOINT}</td>
    </tr>
    <tr>
      <td>Trading Sandbox Endpoint</td>
      <td>${settingsView.ieBayCallContext.TRADING_SANDBOX_ENDPOINT}</td>
    </tr>
    <tr>
      <td>Trading Production Endpoint</td>
      <td>${settingsView.ieBayCallContext.TRADING_PRODUCTION_ENDPOINT}</td>
    </tr>
    <tr>
      <td>Signin Sandbox Endpoint</td>
      <td>${settingsView.ieBayCallContext.SANDBOX_SIGNIN_ENDPOINT}</td>
    </tr>
    <tr>
      <td>Signin Production Endpoint</td>
      <td>${settingsView.ieBayCallContext.PRODUCTION_SIGNIN_ENDPOINT}</td>
    </tr>
    <tr>
      <td>Is Sandbox</td>
      <td>${settingsView.ieBayCallContext.isSandbox()}</td>
    </tr>
    <tr>
      <td>Dev Name</td>
      <td>${settingsView.ieBayCallContext.getDevName()}</td>
    </tr>
    <tr>
      <td>App ID</td>
      <td>${settingsView.ieBayCallContext.getAppName()}</td>
    </tr>
    <tr>
      <td>Cert ID</td>
      <td>${settingsView.ieBayCallContext.getCertName()}</td>
    </tr>
    <tr>
      <td>Ru Name</td>
      <td>${settingsView.ieBayCallContext.getRuName()}</td>
    </tr>
    <tr>
      <td>Is User Auth Token Set</td>
      <td>${(settingsView.ieBayCallContext.getAuthToken()!=null)}</td>
    </tr>

    <tr>
      <td>Shopping API Ack</td>
      <td>${settingsView.geteBayTime.getAck()}</td>
    </tr>
    <tr>
      <td>Shopping API Time</td>
      <td>${settingsView.geteBayTime.getTime()}</td>
    </tr>

    <tr>
      <td>Trading API Ack</td>
      <td>${settingsView.geteBayOfficialTime.getAck()}</td>
    </tr>
    <tr>
      <td>Trading API Time</td>
      <td>${settingsView.geteBayOfficialTime.getTime()}</td>
    </tr>


  </tbody>
</table>



	